extends base

block scripts
    // Bootstrap CSS
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    // jQuery 3.2.1
    script(src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous")
    // Bootstrap JS
    script(src="/js/bootstrap.min.js")

block content
    div.container
        div.jumbotron.text-center
            h1= title
