body {
   background-color: #d7d5d9;
}

#commentTextarea {
    resize: none;
    height: 145px;
    width: 100%;
    margin: 0-1px 0 0;
}
#base-content-container {
    margin-top: 74px;
}

#footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
    bottom: 0;
}
.footer p {
    margin: 0;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}

.contact-box > input {
    height: 40px;
    width: 50%;
    background: #9a9a9a;
    border: none;
    display: block;
    margin: 0 auto;
}

.social li {
    background: none repeat scroll 0 0 #a9acb5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #202e40;
    background: #1d2e3e;
}
.social li a i {
    font-size: 25px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
#footer-bottom {
    background: #c4c4c4;
    border-top: 1px solid #DDDDDD;
    margin: 15px 0 0 0;
    padding: 20px 0 0 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
}