ul.nav.nav-pills
    li
        a(data-toggle='pill', href='#python-one-word') Python
    li
        a(data-toggle='pill', href='#node-one-word') Node.js
    li
        a(data-toggle='pill', href='#curl-one-word') Curl