ul.nav.nav-pills
    li
        a(data-toggle='pill', href='#python-add-word') Python
    li
        a(data-toggle='pill', href='#node-add-word') Node.js
    li
        a(data-toggle='pill', href='#curl-add-word') Curl