ul.nav.nav-pills
    li
        a(data-toggle='pill', href='#python-upload') Python
    li
        a(data-toggle='pill', href='#node-upload') Node.js
    li
        a(data-toggle='pill', href='#curl-upload') Curl
