p
    b GET -
        a(href="http://localhost:5000/api/v1/all" target="_blank")  /all
| Requests on this route will return all the words stored along with their sentiment score.
| Pagination has not been implemented as of <code>v1</code>, therefore all the results will be
| returned on one page. <br><br>
b
    u Examples: <br><br>