p
    b POST -
        a(href="/upload")  /upload
| This route allows for <b>.txt</b> files to be sent to the server for processing.<br><br>
p
    | To upload a file for processing go
    a(href="/upload")  here!